.container {
	padding: 4rem;
	max-width: 1100px;
	margin: auto;
}

.avatar {
	border-radius: 100%;
	background-color: #f5f5f5;
	width: 140px;
	height: 140px;
}

.profile {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 100%;
	align-items: center;
	margin-bottom: 2rem;
}

.editButton {
	background-color: var(--burntGold);
	color: black;
	border: none;
	padding: 5px 15px;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 1rem;
}

.nothing {
	text-align: center;
	color: var(--mediumGray);
	font-size: 18px;
	margin-top: 2rem;
}

.name {
	font-size: 20px;
	color: var(--darkGray);
	margin: 0.5rem 0;
}

.details {
	padding-left: 1rem;
}

.flexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 35px;
	margin-bottom: 2rem;
}

.divider {
	margin: 2rem 0;
}

.productGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 3rem;
	row-gap: 4rem;
	padding: 2rem;
	width: 100%;
}

@media screen and (max-width: 700px) {
	.container {
		padding: 2rem 1rem;
	}

	.flexRow {
		flex-direction: column;
		align-items: flex-start;
	}

	.avatar {
		width: 120px;
		height: 120px;
	}

	.name {
		font-size: 18px;
	}

}

.productsHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
